# Ignore configuration and log files
*.log
*.ini
*.conf
*.config

# Ignore all files beginning with dot (.)
.*
# except for
!.gitattributes
!.gitignore
!.gitmodules
!.github/

# Ignore build files
_site
node_modules

# Ignore local jekyll files
.sass-cache
.jekyll-metadata
Gemfile.lock

#######
# Excerpts from https://www.gitignore.io
#######

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
