<div class="row module-wrapper">
    {% for module in site.data.index.modules %}
    <div user="{{ module.gh_user }}" repo="{{ module.name }}" class="module item col-10 col-md-5 ml-auto mr-auto">
        <div class="module-item">
            <img src="" class="hide logo img-responsive" alt="">
            <h3 class="item-title text-center">
                <a class="link" href="/module/{{ module.name }}" target="_blank">{{ module.name }}</a>
            </h3>
            <p class="item-description text-center"></p>
            <div class="ghbtn">
                <a target="_blank" href="#" class="btn btn-xs btn-white html_url" alt="Repository"><i class="fa fa-github"></i></a>
                <a target="_blank" href="https://github.com/{{ module.gh_user }}/{{ module.name }}/issues/new" class="btn btn-xs btn-white repo" alt="Report Issue"><i class="fa fa-bug"></i></a>
                <br/>
                <a target="_blank" href="https://www.powershellgallery.com/packages/{{ module.name }}" class="btn btn-xs btn-white gallery" alt="Gallery Downloads"><i class="fa fa-cloud-download"></i> ...</a>
                <a target="_blank" href="https://github.com/{{ module.gh_user }}/{{ module.name }}/stargazers" class="btn btn-xs btn-white star"><i class="fa fa-star"></i> ...</a>
                <a target="_blank" href="https://github.com/{{ module.gh_user }}/{{ module.name }}/network" class="btn btn-xs btn-white fork"><i class="fa fa-code-fork"></i> ...</a>
                <div style="height: 10px;"></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
