<div class="row module-wrapper">
    {% assign activeModules = site.data.modules | where: "status", "active" %}
    {% for module in activeModules %}
    <div class="module item col-10 col-md-5 ml-auto mr-auto">
        <div class="module-item card h-100">
            <div class="card-body">
            <a class="link" href="{{ module.path }}">
                <img
                    src="/assets/img/{{ module.name }}.png"
                    class="logo img-responsive"
                    alt="{{ module.name }}"
                />
                <h3 class="item-title">{{ module.name }}</h3>
            </a>
            <p class="item-description">{{ module.description }}</p>
            <div class="ghbtn">
                <a
                    target="_blank"
                    href="{{ module.github }}"
                    class="btn btn-xs btn-white html_url"
                    aria-label="{{ module.name }} repository"
                >
                    <i class="fab fa-github"></i> Source
                </a>
                <a
                    target="_blank"
                    href="{{ module.github }}/issues"
                    class="btn btn-xs btn-white repo"
                    aria-label="Report a {{ module.name }} issue"
                >
                    <i class="fas fa-bug"></i> Issues
                </a>
                <br />
                <a
                    target="_blank"
                    href="{{ module.gallery }}"
                    class="btn btn-xs btn-white gallery"
                    aria-label="{{ module.name }} on PowerShell Gallery"
                >
                    <i class="fas fa-cloud-download-alt"></i> Gallery</a
                >
                <a
                    href="{{ module.docs }}"
                    class="btn btn-xs btn-white star"
                >
                    <i class="fas fa-book"></i> Docs</a
                >
                <div style="height: 10px"></div>
            </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
