<div class="row people-wrapper">
    {% for person in site.data.index.people %}
    <script>
        $(document).ready(function() {
            if ("{{ person.gh_user }}" !== "") {
                if (avatar_url = localStorage["{{ person.gh_user }}"]) { // use cache
                    console.debug("using cache for {{ forloop.index }}:", avatar_url);
                    $('.img-{{ forloop.index }}').attr('src', avatar_url);
                } else {
                    $.get("https://api.github.com/users/{{ person.gh_user }}", function(data) {
                        localStorage["{{ person.gh_user }}"] = data.avatar_url // store cache
                        $('.img-{{ forloop.index }}').attr('src', data.avatar_url);
                    });
                }
            }
        });
    </script>
    <div class="person item col-10 col-sm-5 col-md-4 col-lg-3 ml-auto mr-auto">
        <div class="person-item">
            <img src="https://octodex.github.com/images/daftpunktocat-thomas.gif" class="rounded-circle img-md img-{{ forloop.index }}" alt="">
            <h3 class="item-title">
                <a class="link" href="https://github.com/{{ person.gh_user }}" target="_blank">{{ person.name }}</a>
            </h3>
            {% if person.role %}<h5>{{ person.role }}</h5>{% endif %}
            {% if person.short_desc %}<p>{{ person.short_desc }}</p>{% endif %}
        </div>
    </div>
    {% endfor %}
</div>
