<div class="row people-wrapper">
    {% for person in site.data.index.people limit:12 %}
    <div class="person item col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="person-item">
            <img
                src="https://github.com/{{ person.gh_user }}.png?size=96"
                class="rounded-circle img-md person-avatar"
                alt="{{ person.name }}"
                loading="lazy"
                onerror="this.onerror=null;this.src='https://octodex.github.com/images/daftpunktocat-thomas.gif';"
            >
            <h3 class="item-title">
                <a class="link" href="https://github.com/{{ person.gh_user }}" target="_blank" rel="noopener noreferrer">{{ person.name }}</a>
            </h3>
            {% if person.role %}<h5 class="role-badge">{{ person.role }}</h5>{% endif %}
            {% if person.short_desc %}<p>{{ person.short_desc }}</p>{% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-12 text-center">
        <p class="people-note">Showing a snapshot of active maintainers and contributors.</p>
        <a href="/contributors/" class="btn btn-outline btn-square landing-link-btn">View full contributors list 🙌</a>
    </div>
</div>
