<div class="row posts-wrapper">
    {% for post in site.posts limit:4 %}
    <article id="{{ post.title }}" class="post item col-12 col-lg-6">
        <div class="post-card">
            <div class="article-meta">
                <span><i class="far fa-clock meta-icon"></i> {{ post.date | date: "%-d %b %Y" }}</span>
                {% if post.author %}<span><i class="far fa-user meta-icon"></i> {{ post.author }}</span>{% endif %}
            </div>
            <a href="{{ post.url | prepend: site.baseurl }}" class="link" rel="bookmark">
                <h3 class="item-title article-title">{{ post.title }}</h3>
            </a>
            <div class="article-content">
                {{ post.excerpt }}
            </div>
        </div>
    </article>
    {% endfor %}
    <div class="all-news col-12">
        <a class="btn btn-square btn-outline landing-link-btn" href="/archive/" role="button">View all updates</a>
    </div>
</div>

