<script type="text/javascript">
    $(function() {
        /* initiate the plugin */
        $(".rotate").textrotator({
            animation: "dissolve",
            separator: "|",
            speed: 1500
        });
    });
</script>
<section id="SlideShow" class="slideshow-wrapper">
    <div class="container">
        <div class="slideshow-content">
            <h2 class="text-uppercase">We <i class="fa fa-heart red"></i> PowerShell</h2>
            <pre>PS> Import-Module <span class="rotate">Bitbucket|Confluence|HipChat|Jira</span>PS</pre>
            <p class="text-muted"><span class="small">Welcome to a community of Powershell lovers, who are invested in making Atlassian product part of their Powershell life</span></p>
            <a href="/#people" class="btn btn-lg btn-secondary">Who We Are</a>
            <a href="/documentation" class="btn btn-lg btn-secondary btn-square btn-outline">Get Started</a>
        </div>
    </div>
</section>
