<script type="text/javascript">
    $(function() {
        /* initiate the plugin */
        $(".rotate").Morphext({
            animation: "bounceIn",
            separator: "|",
            speed: 2000
        });
    });
</script>
<section id="SlideShow" class="slideshow-wrapper">
    <div class="container">
        <div class="slideshow-content">
            <h2 class="text-uppercase">We <i class="fas fa-heart red"></i> PowerShell</h2>
            <pre>PS> Import-Module <span class="rotate">Bitbucket|Confluence|HipChat|Jira</span>PS</pre>
            <p class="text-muted"><span class="small">Welcome to a community of Powershell lovers, who are invested in making Atlassian product part of their Powershell life</span></p>
            <a href="/#people" class="btn btn-lg inpage-navigation" role="button">Who We Are</a>
            <a href="/docs" class="btn btn-lg btn-square btn-outline" role="button">Get Started</a>
        </div>
    </div>
</section>
