<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="site-info">
        <div class="container">
            <div class="btt d-print-none">
                <a class="inpage-navigation" href="#page-top" title="Back To Top"><i class="fa fas-angle-double-up" style="visibility: visible; animation-duration: 2s; animation-name: flash;"></i></a>
            </div>
            <div class="row">
                <div class="col-12">
                    Copyright © 2017 AtlassianPS
                </div>
            </div>
            <div class="row d-print-none">
                <div class="col-6">
                    <ul>
                        <li><a href="/data-protection-information">Data Protection Information</a></li>
                    </ul>
                </div>
                <div class="col-6">
                    <a href="https://github.com/AtlassianPS/AtlassianPS.github.io"><i class="fas fa-code"></i><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
