<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="site-info">
        <div class="container">
            <div class="btt">
                <a class="inpage-navigation" href="#page-top" title="Back To Top"><i class="fa fa-angle-double-up" style="visibility: visible; animation-duration: 2s; animation-name: flash;"></i></a>
            </div>
            <div class="row">
                <div class="col-12">
                    Copyright © 2017 AtlassianPS
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                </div>
                <div class="col-6">
                    <a href="https://github.com/AtlassianPS/AtlassianPS.github.io"><i class="fa fa-code"></i><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
