{% capture module_dir %}/modules/{% endcapture %}
{% assign module_dir_size = module_dir | size %}

{% for p in site.html_pages %}
  {% if p.hide != true %}
    {% assign result = p.url | slice: 0, module_dir_size %}
    {% if result != module_dir %}
    <li {% if page.title == p.title %}class="active"{% endif %}>
      <a href="{{p.url}}">{{p.title}}</a>
    </li>
    {% endif %}
  {% endif %}
{% endfor %}

{% assign sorted_modules = site.data.modules | sort:"index","last" %}
{% for module in sorted_modules %}
<li class="dropdown">
  {% capture module_base_url %}{{ module_dir }}{{ module.name }}{% endcapture %}
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{ module.name }}<span class="caret"></span></a>
  <ul class="dropdown-menu">
    {% assign sorted_pages = site.pages | sort:"index","last" %}
    {% for p in sorted_pages %}
      {% if p.hide != true %}
        {% assign module_base_url_size = module_base_url | size %}
        {% assign result = p.url | slice: 0, module_base_url_size %}
        {% if result == module_base_url %}
          {% assign module_page_path = p.path | split: "/" %}
          {% assign module_page_name = module_page_path.last | split: "." %}
          <li {% if page.url == p.url %}class="active"{% endif %}>
            <a href="{{site.github.url}}{{p.url}}">{{ module_page_name.first }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</li>  
{% endfor %}

<!-- ToDo
  Add navigation for articles
=========================================== -->

<!-- ToDo
  Add navigation for people
=========================================== -->

<!-- ToDo
  Add navigation for documents
=========================================== -->