<div class="navbar-wrapper doc-nav">
    <header id="masthead" class="site-header" role="banner" style="top: auto; height: auto;">
        <div class="container">
            <div class="site-branding">
                <div class="site-brand-inner no-logo-img has-title has-desc">
                    <h1 class="site-title"><a class="site-text-logo" href="{{ site.url }}" rel="home">{{ site.title }}</a></h1>
                    <p class="site-description">{{ site.description }}</p>
                </div>
            </div>

            <div class="header-right-wrapper">
                <a href="#0" id="nav-toggle" class="">Menu<span></span></a>
                <nav id="site-navigation" class="main-navigation" role="navigation">
                    <ul class="onepress-menu">
                        {% for module in site.data.modules %}
                        <li class="menu-item menu-item-has-children{% if page.path contains module.name %} active{% endif %}">
                            <div class="nav-toggle-subarrow"><i class="fa fa-angle-down"></i></div><a href="/docs/{{module.name}}">{{ module.name }}</a>
                            <ul class="sub-menu">
                            {% for group in module.groups %}
                                <li class="menu-item menu-item-has-children">
                                    <div class="nav-toggle-subarrow"><i class="fa fa-angle-down"></i></div><a href="/docs/{{module.name}}/{{group | downcase}}">{{group}}</a>
                                    <ul class="sub-menu">
                                    {% capture module_dir %}/docs/{{ module.name }}/{{group | downcase}}{% endcapture %}
                                    {% for p in site.html_pages %}
                                        {% if p.url contains module_dir %}
                                            {% assign result = p.url | remove: module_dir %}
                                            {% assign currentPage = page.name | remove: ".md" %}
                                            {% assign loopPage = p.name | remove: ".md" %}
                                            {% if p.hide != true %}
                                        <li class="menu-item"><a href="{{module_dir}}{{result}}">{{loopPage}}</a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}

                        <li class="menu-item search">
                            <input type="search" class="form-control searchbox" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off">
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
    apiKey: '50f1199d6c47bdb6fe668f3b569453f0',
    indexName: 'atlassianps',
    inputSelector: '#search-input',
    debug: true // Set debug to true if you want to inspect the dropdown
});
</script>
