<header id="masthead" class="site-header" role="banner" style="top: auto; height: auto;">
    <div class="container">
        <div class="site-branding">
            <div class="site-brand-inner no-logo-img has-title has-desc">
                <h1 class="site-title"><a class="site-text-logo" href="{{ site.url }}" rel="home">{{ site.title }}</a></h1>
                <p class="site-description">{{ site.description }}</p>
            </div>
        </div>

        <div class="header-right-wrapper">
            <a href="#0" id="nav-toggle" class="">Menu<span></span></a>
            <nav id="site-navigation" class="main-navigation" role="navigation">
                <ul class="onepress-menu">
                {% for section in site.data.navigation %}
                    {% if section.childs %}
                    <li class="menu-item menu-item-has-children">
                        {% if section.path %}
                        <div class="nav-toggle-subarrow"><i class="fa fa-angle-down"></i></div><a href="{{ section.path }}">{{ section.name }}</a> {% else %}
                        <div class="nav-toggle-subarrow"><i class="fa fa-angle-down"></i></div><a href="#">{{ section.name }}</a> {% endif %}
                        <ul class="sub-menu">
                            {% for child in section.childs %}
                            <li class="menu-item"><a href="{{ child.path }}">{{ child.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li class="menu-item">
                        {% if section.path %}
                        <a href="{{ section.path}}">
                        {% else %}
                        <a href="#">
                        {% endif %}
                        {{ section.name }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
