<div class="d-none d-xl-block col-xl-2 bd-toc" role="complementary">
    <div class="bs-docs-sidebar hidden-print">
        {% if include.show == "true" %}
        <ul class="section-nav">
            <li class="toc-entry toc-h2"><a href="#quick-start">Quick start</a></li>
            <li class="toc-entry toc-h2"><a href="#starter-template">Starter template</a></li>
            <li class="toc-entry toc-h2"><a href="#important-globals">Important globals</a>
                <ul>
                    <li class="toc-entry toc-h3"><a href="#html5-doctype">HTML5 doctype</a></li>
                    <li class="toc-entry toc-h3"><a href="#responsive-meta-tag">Responsive meta tag</a></li>
                    <li class="toc-entry toc-h3"><a href="#box-sizing">Box-sizing</a></li>
                    <li class="toc-entry toc-h3"><a href="#reboot">Reboot</a></li>
                </ul>
            </li>
            <li class="toc-entry toc-h2"><a href="#community">Community</a></li>
        </ul>
        {% endif %}
        <a class="back-to-top" href="#top">
            <i class="glyphicon glyphicon-chevron-up"></i> Back to top
        </a>
    </div>
</div>
