.bd-toc,
.bd-sidebar {
    @media screen and (min-width: 768px) {
        position: sticky;
    }
    @media screen and (max-width: 768px) {
        position: inherit;
    }
    top: 80px;
    border: 0;
    z-index: 90;
    ul.bd-sidenav,
    ul.bd-sidenav li {
        margin: 0;
        display: block;
    }
}

#small-nav {
    &>* {
        display: inline-block;
    }
    .bd-search {
        display: block !important;
        width: 70%;
        margin: 0 auto 10px;
    }
    h4 {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.1;
        margin-right: 10px;
    }
    select {
        vertical-align: baseline;
        padding: 5px;
    }
}

.bd-toc {
    &>h3 {
        margin-top: 0 !important;
    }
    .toc-visible a {
        color: $powershell-blue;
        font-weight: 500;
    }
}

ul.nav {
    &.toc {
        list-style: none;
        li {
            display: block;
            position: relative;
            a {
                display: block;
                position: relative;
                &:before {
                    content: "➡";
                    color: $powershell-blue;
                    position: absolute;
                    font-size: 16px;
                    padding-right: 5px;
                    top: 1px;
                    left: 0;
                    display: none;
                }
                &.active {
                    color: $powershell-blue;
                    font-weight: 500;
                    &:before {
                        display: block;
                    }
                }
            }
        }
    }
}
