{% for module in site.data.navigation %}
    {% if module.name == "Documentation" %}
        {% for child in module.childs %}
            {% capture childUrl %}/{{ child.path }}{% endcapture %}
            {% capture childUrlSlash %}{{ childUrl }}/{% endcapture %}
            {% if page.url == childUrl or page.url == childUrlSlash or page.url contains childUrlSlash %}
                {% capture bc_moduleName %}{{ child.name }}{% endcapture %}
                {% for group in child.groups %}
                    {% capture tempGroupName %}/{{ child.path }}/{{ group | downcase }}{% endcapture %}
                    {% capture tempGroupNameSlash %}{{ tempGroupName }}/{% endcapture %}
                    {% if page.url == tempGroupName or page.url contains tempGroupNameSlash %}
                        {% capture cl_groupName %}{{ group | downcase }}{% endcapture %}
                        {% capture bc_groupName %}{{ group }}{% endcapture %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
{% assign doc_title = page.title %}
{% if doc_title == nil or doc_title == empty %}
    {% assign doc_title = page.name | remove: '.html' | remove: '.md' | replace: '_', ' ' | replace: '-', ' ' %}
{% endif %}

<!DOCTYPE html>
<html {{ site.lang | default: "en-US" }}>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta content="{{ site.description }}" name="description">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="author" content="{{ site.author.name }}">
    <title>{{ doc_title }} - Docs | {{ site.title }}</title>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
    <link rel="stylesheet" href="/assets/css/docs.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script src="/assets/javascript/jquery.toc.min.js"></script>
    <script src="/assets/javascript/theme.js"></script>
</head>


<body id="page-top" class="sticky-header">

    {% include navigation.html %}

    <div class="documentation container-fluid page">

        <div class="row flex-docs-nowrap">

            <nav class="col-12 col-md-10 col-lg-8 ml-auto mr-auto breadcrumb">
                <div class="btn-group btn-breadcrumb">
                    <a href="/" class="btn btn-default d-none d-lg-block"><i class="fas fa-home"></i></a>
                    <a href="/docs" class="btn btn-default">Documentation</a>
                {% if bc_moduleName %}
                    <a href="/docs/{{ bc_moduleName }}" class="btn btn-default" data-algolia="lvl0">{{ bc_moduleName }}</a>
                {% endif %}
                {% if bc_groupName %}
                    {% if bc_groupName == "About" %}
                        <a href="/docs/{{ bc_moduleName }}" class="btn btn-default" data-algolia="lvl1">{{ bc_groupName }}</a>
                    {% else %}
                        <a href="/docs/{{ bc_moduleName }}/{{ cl_groupName }}" class="btn btn-default" data-algolia="lvl1">{{ bc_groupName }}</a>
                    {% endif %}
                {% endif %}
                {% capture pageTitleDowncase %}{{ doc_title | slugify }}{% endcapture %}
                {% assign pageTitleInUrl = false %}
                {% capture pageTitleDowncaseSlash %}{{ pageTitleDowncase }}/{% endcapture %}
                {% if page.url contains pageTitleDowncaseSlash or page.url contains pageTitleDowncase %}
                    {% assign pageTitleInUrl = true %}
                {% endif %}
                {% assign pageIsGroupIndex = false %}
                {% if bc_moduleName and cl_groupName %}
                    {% capture groupIndexUrl %}/docs/{{ bc_moduleName }}/{{ cl_groupName }}/{% endcapture %}
                    {% if page.url == groupIndexUrl %}
                        {% assign pageIsGroupIndex = true %}
                    {% endif %}
                {% endif %}
                {% if bc_groupName != doc_title and bc_moduleName != doc_title and "Documentation" != doc_title and pageTitleInUrl != true and pageIsGroupIndex != true %}
                    <span class="btn btn-default d-none d-lg-block">{{ doc_title }}</span>
                {% endif %}
                </div>
            </nav>

        </div>

        <div class="row flex-docs-nowrap">

            <div class="col-12 docs-sidebar-col d-print-none bd-sidebar">

                {% include sidenav.html %}

            </div>

            <section class="col-12 docs-content-col content">

                {{ content }}

            </section>

            <div class="col-12 docs-toc-col d-print-none bd-toc">

                {% include toc.html %}

            </div>

        </div>

    </div>

    {% include footer.html %}

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ site.ga }}');
    </script>

</body>
</html>
