---
layout: default
---

<script src="{{ '/assets/js/github.js' | relative_url }}" async defer></script>
<div class="landing-page">

    {% include carousel.html %}
    
    {% for section in site.data.landing %}
        {% assign loopindex = forloop.index | modulo: 2 %}
    <section id="{{ section.id }}" class="features {% if loopindex != 1 %} gray-section {% endif %} {{ section.classes }}">
        <div class="container">
            <div class="row section-header">
                <div class="col-xs-12 mx-auto text-center">
                    <div class="navy-line"></div>
                    <h2 class="section-title" id="{{ section.title }}">
                        {% if section.preTitle %}<small>{{ section.preTitle }}<br/></small>{% endif %}
                        <span class="text-uppercase">{{ section.title }}</span>
                        {% if section.postTitle %}<small><br/>{{ section.postTitle }}</small>{% endif %}
                    </h2>
                </div>
            </div>
            {% include sections/{{section.tpl}} %}
        </div>
    </section>
    {% endfor %}
</div>
